*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#tab{
    display: flex;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.tab{
    flex: 1;
    padding: 20px 15px;
    text-align: center;
}

.tab.active{
    text-decoration: underline;
    background-color: #555;
    font-weight: bold;
}

.tab-content{
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.tab-content.active{
    display: block;
}

#reels{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.reel{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 0 10px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result{
    margin-top: 10px;
}

#spin-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}